@import "star_rating";

@mixin bookList($bookWidth) {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;

  &__book {
    width: $bookWidth;
    margin: 10px;
  }

  &__book_link {
    color: #000;
  }

  &__book_link:hover {
    opacity: 0.5;
  }

  &__book_feature {
    height: 120px;
    margin: 0 auto;
    margin-bottom: 12px;
  }

  &__book_title {
    font-weight: bold;
    margin: 0;
  }

  &__book_published_at {
    color: #676767;
    font-size: 15px;
  }

  &__book_star-rating {
    @include starRating(18px);
  }

  &__book_reviews-count {
    display: inline-block;
    font-size: 14px;
    line-height: 27px;
    color: #676767;
  }

  &__book_price {
    color: #d70035;
  }

  &__book_price-num {
    font-size: 20px;
  }
}
