$header-height: 60px;
$searchbox-height: 40px;
$searchicon-height: 22px;
$main-color: #2c4b79;

header {
  width: 1440px;
  background: $main-color;

  .global-nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    height: $header-height;
  }

  .nav-left {
    width: 360px;
  }

  .nav-center {
    width: 720px;
  }

  .nav-right {
    width: 360px;
  }

  .logo {
    padding-left: 40px;
    font-size: 28px;
    line-height: 60px;
    font-weight: bold;
    color: #fff;
  }

  .search-form {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 600px;
    height: $searchbox-height;
    margin: ($header-height - $searchbox-height) / 2 auto;

    &__search-box {
      width: 560px;
      font-size: 16px;
      padding: 0 0 0 10px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    &__search-button {
      background: #babea5;
      width: $searchbox-height;
      padding: 0;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }

    &__search-icon {
      height: $searchicon-height;
      margin: ($searchbox-height - $searchicon-height) / 2;
    }
  }

  .usermenu-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    margin: ($header-height - $searchbox-height) / 2 0;

    &__element {
      width: 120px;
      line-height: $searchbox-height;
      text-align: center;
      font-weight: bold;
      border-left: solid 1px #ccc;
    }

    &__element:last-child {
      border-right: solid 1px #ccc;
    }

    &__link {
      color: #fff;
    }

    &__link:hover {
      text-decoration: underline;
    }
  }
}
