$main-color: #2c4b79;

.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin: 50px 0;

  li {
    display: inline;
    width: 40px;
    border: solid 1px $main-color;
    line-height: 40px;
    margin: 0 5px;
    text-align: center;
    border-radius: 5px;

    &.active {
      position: relative;
      background: $main-color;
      color: #fff;
    }

    &.active:after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 2px;
      width: 36px;
      height: 2px;
      background: $main-color;
    }

    &:not(.active) {
      color: $main-color;
    }
  }

  a {
    color: $main-color;
  }
}
