@mixin starRating($fontSize) {
  position: relative;
  display: inline-block;
  z-index: 0;
  white-space: nowrap;
  font-size: $fontSize;

  &:before {
    content: '☆☆☆☆☆';
    color: #fcc800;
  }

  &:after {
    content: '★★★★★';
    position: absolute;
    display: block;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    white-space: nowrap;
    color: #ffdc00;
  }

  @for $i from 0 through 10 {
    &[data-rate="#{$i * 0.5}"]:after {
      width: $i * 10%;
    }
  }
}
