@import "header";
@import "book_list";
@import "star_rating";
@import "pagination";

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

img {
  display: block;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

#wrap {
  width: 1440px;
}

// TOP画面 始まり
#index {
  .main {
    width: 100%;
  }

  .content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
  }

  h2 {
    text-align: center;
    font-size: 36px;
  }

  .book-list {
    @include bookList(220px);
  }
}
// TOP画面 終わり

// 検索結果画面 始まり
#search {
  .main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  .content {
    width: 880px;
  }

  .search-result {

    &__heading_title {
      display: inline;
    }

    &__books_count {
      display: inline;
      color: #a9a9a9;
      font-size: 15px;
    }
  }

  .book-list {
    @include bookList(200px);
  }
}
// 検索結果画面 始まり

// 本の詳細 始まり
#detail {
  .main {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .content {
    width: 880px;
  }

  .book-detail {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 880px;
    padding-top: 50px;

    &__left-area {
      width: 300px;
    }

    &__feature {
      width: 260px;
      margin-left: auto;
      margin-right: auto;
    }

    &__right-area {
      width: 580px;
    }

    &__title {
      font-size: 24px;
    }

    &__published-at {
      color: #676767;
    }

    &__star-rating {
      @include starRating(20px);
    }

    &__reviews-count {
      display: inline-block;
      font-size: 14px;
      line-height: 27px;
      color: #676767;
    }

    &__price, &__price-num {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .horizontal-line {
    border-top: solid 1px #cdcdcd;
  }

  .book-review {
    padding: 50px 100px;
  }

  .review-list {

    &__element {
      margin-bottom: 50px;
    }

    &__star-rating {
      @include starRating(18px);
    }

    &__title {
      font-weight: bold;
    }

    &__posted_at {
      color: #676767;
    }

    &__detail {
      font-size: 15px;
    }
  }
}
//本の詳細 終わり

#sidebar {
  width: 300px;

  .option {
    line-height: 3;
    font-size: 15px;
    font-weight: bold;
    border-bottom: solid 1px #ccc;
  }

  ul {
    padding: 20px 50px;

    li {
      position: relative;
      line-height: 2;
      font-size: 14px;

      &:before,&:after {
        position: absolute;
        content: "";
        top: 50%;
        left: -16px;
        border-top: solid 1px #676767;
        border-right: solid 1px #676767;
        transform: translateY(-50%) rotate(45deg);
      }

      &:before {
        width: 6px;
        height: 6px;
      }

      &:after {
        width: 4px;
        height: 4px;
      }
    }
  }

  a:hover {
    text-decoration: underline;
  }
}

#login,#register,#forgot-password,#confirm-password,#reset-password,#verify-email {
  .min-h-screen {
    min-height: calc(100vh - 60px);
  }
}

#mypage {
  .main {
    width: 960px;
    margin: 0 auto;
    padding-top: 50px;
  }

  .user-menu {
    &__list {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__list_element {
      width: 450px;
      border: solid 1px #ccc;
      height: 120px;
      margin-bottom: 30px;
    }
  }
}
