@charset "UTF-8";
header {
  width: 1440px;
  background: #2c4b79;
}
header .global-nav {
  display: -ms-flex;
  display: flex;
  height: 60px;
}
header .nav-left {
  width: 360px;
}
header .nav-center {
  width: 720px;
}
header .nav-right {
  width: 360px;
}
header .logo {
  padding-left: 40px;
  font-size: 28px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
}
header .search-form {
  display: -ms-flex;
  display: flex;
  width: 600px;
  height: 40px;
  margin: 10px auto;
}
header .search-form__search-box {
  width: 560px;
  font-size: 16px;
  padding: 0 0 0 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}
header .search-form__search-button {
  background: #babea5;
  width: 40px;
  padding: 0;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
header .search-form__search-icon {
  height: 22px;
  margin: 9px;
}
header .usermenu-list {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
header .usermenu-list__element {
  width: 120px;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  border-left: solid 1px #ccc;
}
header .usermenu-list__element:last-child {
  border-right: solid 1px #ccc;
}
header .usermenu-list__link {
  color: #fff;
}
header .usermenu-list__link:hover {
  text-decoration: underline;
}

.pagination {
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.pagination li {
  display: inline;
  width: 40px;
  border: solid 1px #2c4b79;
  line-height: 40px;
  margin: 0 5px;
  text-align: center;
  border-radius: 5px;
}
.pagination li.active {
  position: relative;
  background: #2c4b79;
  color: #fff;
}
.pagination li.active:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 2px;
  width: 36px;
  height: 2px;
  background: #2c4b79;
}
.pagination li:not(.active) {
  color: #2c4b79;
}
.pagination a {
  color: #2c4b79;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
}

img {
  display: block;
}

h1, h2 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

#wrap {
  width: 1440px;
}

#index .main {
  width: 100%;
}
#index .content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}
#index h2 {
  text-align: center;
  font-size: 36px;
}
#index .book-list {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
#index .book-list__book {
  width: 220px;
  margin: 10px;
}
#index .book-list__book_link {
  color: #000;
}
#index .book-list__book_link:hover {
  opacity: 0.5;
}
#index .book-list__book_feature {
  height: 120px;
  margin: 0 auto;
  margin-bottom: 12px;
}
#index .book-list__book_title {
  font-weight: bold;
  margin: 0;
}
#index .book-list__book_published_at {
  color: #676767;
  font-size: 15px;
}
#index .book-list__book_star-rating {
  position: relative;
  display: inline-block;
  z-index: 0;
  white-space: nowrap;
  font-size: 18px;
}
#index .book-list__book_star-rating:before {
  content: "☆☆☆☆☆";
  color: #fcc800;
}
#index .book-list__book_star-rating:after {
  content: "★★★★★";
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: #ffdc00;
}
#index .book-list__book_star-rating[data-rate="0"]:after {
  width: 0%;
}
#index .book-list__book_star-rating[data-rate="0.5"]:after {
  width: 10%;
}
#index .book-list__book_star-rating[data-rate="1"]:after {
  width: 20%;
}
#index .book-list__book_star-rating[data-rate="1.5"]:after {
  width: 30%;
}
#index .book-list__book_star-rating[data-rate="2"]:after {
  width: 40%;
}
#index .book-list__book_star-rating[data-rate="2.5"]:after {
  width: 50%;
}
#index .book-list__book_star-rating[data-rate="3"]:after {
  width: 60%;
}
#index .book-list__book_star-rating[data-rate="3.5"]:after {
  width: 70%;
}
#index .book-list__book_star-rating[data-rate="4"]:after {
  width: 80%;
}
#index .book-list__book_star-rating[data-rate="4.5"]:after {
  width: 90%;
}
#index .book-list__book_star-rating[data-rate="5"]:after {
  width: 100%;
}
#index .book-list__book_reviews-count {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #676767;
}
#index .book-list__book_price {
  color: #d70035;
}
#index .book-list__book_price-num {
  font-size: 20px;
}

#search .main {
  display: -ms-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
#search .content {
  width: 880px;
}
#search .search-result__heading_title {
  display: inline;
}
#search .search-result__books_count {
  display: inline;
  color: #a9a9a9;
  font-size: 15px;
}
#search .book-list {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
#search .book-list__book {
  width: 200px;
  margin: 10px;
}
#search .book-list__book_link {
  color: #000;
}
#search .book-list__book_link:hover {
  opacity: 0.5;
}
#search .book-list__book_feature {
  height: 120px;
  margin: 0 auto;
  margin-bottom: 12px;
}
#search .book-list__book_title {
  font-weight: bold;
  margin: 0;
}
#search .book-list__book_published_at {
  color: #676767;
  font-size: 15px;
}
#search .book-list__book_star-rating {
  position: relative;
  display: inline-block;
  z-index: 0;
  white-space: nowrap;
  font-size: 18px;
}
#search .book-list__book_star-rating:before {
  content: "☆☆☆☆☆";
  color: #fcc800;
}
#search .book-list__book_star-rating:after {
  content: "★★★★★";
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: #ffdc00;
}
#search .book-list__book_star-rating[data-rate="0"]:after {
  width: 0%;
}
#search .book-list__book_star-rating[data-rate="0.5"]:after {
  width: 10%;
}
#search .book-list__book_star-rating[data-rate="1"]:after {
  width: 20%;
}
#search .book-list__book_star-rating[data-rate="1.5"]:after {
  width: 30%;
}
#search .book-list__book_star-rating[data-rate="2"]:after {
  width: 40%;
}
#search .book-list__book_star-rating[data-rate="2.5"]:after {
  width: 50%;
}
#search .book-list__book_star-rating[data-rate="3"]:after {
  width: 60%;
}
#search .book-list__book_star-rating[data-rate="3.5"]:after {
  width: 70%;
}
#search .book-list__book_star-rating[data-rate="4"]:after {
  width: 80%;
}
#search .book-list__book_star-rating[data-rate="4.5"]:after {
  width: 90%;
}
#search .book-list__book_star-rating[data-rate="5"]:after {
  width: 100%;
}
#search .book-list__book_reviews-count {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #676767;
}
#search .book-list__book_price {
  color: #d70035;
}
#search .book-list__book_price-num {
  font-size: 20px;
}

#detail .main {
  display: -ms-flex;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}
#detail .content {
  width: 880px;
}
#detail .book-detail {
  display: -ms-flex;
  display: flex;
  width: 880px;
  padding-top: 50px;
}
#detail .book-detail__left-area {
  width: 300px;
}
#detail .book-detail__feature {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}
#detail .book-detail__right-area {
  width: 580px;
}
#detail .book-detail__title {
  font-size: 24px;
}
#detail .book-detail__published-at {
  color: #676767;
}
#detail .book-detail__star-rating {
  position: relative;
  display: inline-block;
  z-index: 0;
  white-space: nowrap;
  font-size: 20px;
}
#detail .book-detail__star-rating:before {
  content: "☆☆☆☆☆";
  color: #fcc800;
}
#detail .book-detail__star-rating:after {
  content: "★★★★★";
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: #ffdc00;
}
#detail .book-detail__star-rating[data-rate="0"]:after {
  width: 0%;
}
#detail .book-detail__star-rating[data-rate="0.5"]:after {
  width: 10%;
}
#detail .book-detail__star-rating[data-rate="1"]:after {
  width: 20%;
}
#detail .book-detail__star-rating[data-rate="1.5"]:after {
  width: 30%;
}
#detail .book-detail__star-rating[data-rate="2"]:after {
  width: 40%;
}
#detail .book-detail__star-rating[data-rate="2.5"]:after {
  width: 50%;
}
#detail .book-detail__star-rating[data-rate="3"]:after {
  width: 60%;
}
#detail .book-detail__star-rating[data-rate="3.5"]:after {
  width: 70%;
}
#detail .book-detail__star-rating[data-rate="4"]:after {
  width: 80%;
}
#detail .book-detail__star-rating[data-rate="4.5"]:after {
  width: 90%;
}
#detail .book-detail__star-rating[data-rate="5"]:after {
  width: 100%;
}
#detail .book-detail__reviews-count {
  display: inline-block;
  font-size: 14px;
  line-height: 27px;
  color: #676767;
}
#detail .book-detail__price, #detail .book-detail__price-num {
  font-size: 24px;
  font-weight: bold;
}
#detail .horizontal-line {
  border-top: solid 1px #cdcdcd;
}
#detail .book-review {
  padding: 50px 100px;
}
#detail .review-list__element {
  margin-bottom: 50px;
}
#detail .review-list__star-rating {
  position: relative;
  display: inline-block;
  z-index: 0;
  white-space: nowrap;
  font-size: 18px;
}
#detail .review-list__star-rating:before {
  content: "☆☆☆☆☆";
  color: #fcc800;
}
#detail .review-list__star-rating:after {
  content: "★★★★★";
  position: absolute;
  display: block;
  overflow: hidden;
  z-index: 1;
  top: 0;
  left: 0;
  white-space: nowrap;
  color: #ffdc00;
}
#detail .review-list__star-rating[data-rate="0"]:after {
  width: 0%;
}
#detail .review-list__star-rating[data-rate="0.5"]:after {
  width: 10%;
}
#detail .review-list__star-rating[data-rate="1"]:after {
  width: 20%;
}
#detail .review-list__star-rating[data-rate="1.5"]:after {
  width: 30%;
}
#detail .review-list__star-rating[data-rate="2"]:after {
  width: 40%;
}
#detail .review-list__star-rating[data-rate="2.5"]:after {
  width: 50%;
}
#detail .review-list__star-rating[data-rate="3"]:after {
  width: 60%;
}
#detail .review-list__star-rating[data-rate="3.5"]:after {
  width: 70%;
}
#detail .review-list__star-rating[data-rate="4"]:after {
  width: 80%;
}
#detail .review-list__star-rating[data-rate="4.5"]:after {
  width: 90%;
}
#detail .review-list__star-rating[data-rate="5"]:after {
  width: 100%;
}
#detail .review-list__title {
  font-weight: bold;
}
#detail .review-list__posted_at {
  color: #676767;
}
#detail .review-list__detail {
  font-size: 15px;
}

#sidebar {
  width: 300px;
}
#sidebar .option {
  line-height: 3;
  font-size: 15px;
  font-weight: bold;
  border-bottom: solid 1px #ccc;
}
#sidebar ul {
  padding: 20px 50px;
}
#sidebar ul li {
  position: relative;
  line-height: 2;
  font-size: 14px;
}
#sidebar ul li:before, #sidebar ul li:after {
  position: absolute;
  content: "";
  top: 50%;
  left: -16px;
  border-top: solid 1px #676767;
  border-right: solid 1px #676767;
  transform: translateY(-50%) rotate(45deg);
}
#sidebar ul li:before {
  width: 6px;
  height: 6px;
}
#sidebar ul li:after {
  width: 4px;
  height: 4px;
}
#sidebar a:hover {
  text-decoration: underline;
}

#login .min-h-screen, #register .min-h-screen, #forgot-password .min-h-screen, #confirm-password .min-h-screen, #reset-password .min-h-screen, #verify-email .min-h-screen {
  min-height: calc(100vh - 60px);
}

#mypage .main {
  width: 960px;
  margin: 0 auto;
  padding-top: 50px;
}
#mypage .user-menu__list {
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#mypage .user-menu__list_element {
  width: 450px;
  border: solid 1px #ccc;
  height: 120px;
  margin-bottom: 30px;
}
